<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Arch SMP Season <%= locals.seasonNumber || "error" %></title>

		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/script.js"></script>
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>

		<style>
			.accordion {
				background-color: #eee;
				color: #444;
				cursor: pointer;
				padding: 18px;
				width: 100%;
				border: none;
				text-align: left;
				outline: none;
				font-size: 15px;
				transition: 0.4s;
			}

			.active,
			.accordion:hover {
				background-color: #ccc;
			}

			.panel {
				padding: 0 18px;
				display: none;
				background-color: white;
				overflow: hidden;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<h1>Arch SMP Season <%= locals.seasonNumber || "error" %></h1>
		</div>
		<div class="sidebar">
			<button class="accordion">Players</button>
			<div class="panel">
				There are currently 14 players
				<ul>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=111eca959ba8c25f&scale=4"
							alt=""
							width="16pt"
						/>
						AnotherSlime
						<span class="green-dot">
							<%= locals.panotherslime %>
						</span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=e507f09b57f790b5&scale=4"
							alt=""
							width="16pt"
						/>
						Arent_itFunny
						<span class="green-dot"> <%= locals.parent %> </span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=c7b17bfd720a0d39&scale=4"
							alt=""
							width="16pt"
						/>
						boredlake
						<span class="green-dot"> <%= locals.pbored %> </span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=22444d5b40084128&scale=4"
							alt=""
							width="16pt"
						/>
						CoolAidDonk
						<span class="green-dot"> <%= locals.pdonk %> </span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=c178117c21bd0a1c&scale=4"
							alt=""
							width="16pt"
						/>
						dolphindot
						<span class="green-dot"> <%= locals.pdolphin %> </span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=1bb7caaf92a0d99f&scale=4"
							alt=""
							width="16pt"
						/>
						Furnace107
						<span class="green-dot">
							<%= locals.pfurnace107 %>
						</span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=93aa05d40950b1c3&scale=4"
							alt=""
							width="16pt"
						/>
						GentleLlama7037
						<span class="green-dot">
							<%= locals.gentlellama %>
						</span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=79715654871a419d&scale=4"
							alt=""
							width="16pt"
						/>
						GravityAce
						<span class="green-dot">
							<%= locals.pfrance107 %>
						</span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=b84ac9a32c374ef1&scale=4"
							alt=""
							width="16pt"
						/>
						midlifetexas48
						<span class="green-dot"> <%= locals.pmlt %> </span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=fd202be1e6528b88&scale=4"
							alt=""
							width="16pt"
						/>
						SidGames5
						<span class="green-dot"> <%= locals.psid %> </span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=b5d02329e0b5b95e&scale=4"
							alt=""
							width="16pt"
						/>
						Thomasx87x
						<span class="green-dot">
							<%= locals.pthomasx87x %>
						</span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=d3fe59ec6e25fea8&scale=4"
							alt=""
							width="16pt"
						/>
						TriplePear
						<span class="green-dot">
							<%= locals.ptriplepear %>
						</span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=b84ac9a32c374ef1&scale=4"
							alt=""
							width="16pt"
						/>
						Untitled_Freak
						<span class="green-dot"> <%= locals.pfreak %> </span>
					</li>
					<li>
						<img
							src="https://s.namemc.com/2d/skin/face.png?id=0c002c4ae60ac262&scale=4"
							alt=""
							width="16pt"
						/>
						WallyWallerson
						<span class="green-dot"> <%= locals.pwally %> </span>
					</li>
				</ul>
			</div>

			<button class="accordion">Links</button>
			<div class="panel">
				<ul>
					<li>
						<img
							src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png"
							alt=""
							width="16pt"
						/>
						<a href="https://discord.gg/YSV2pWP756">Discord</a>
					</li>
					<li>
						<img src="" alt="" width="16pt" />
						<a href="streamday">Arch SMP Stream Day</a>
					</li>
				</ul>
			</div>

			<button class="accordion">Maps</button>
			<div class="panel">
				<ul>
					<li>
						<a href="maps">All maps</a>
					</li>
					<li>
						<a href="maps/s1">Season 1</a>
					</li>
					<li>
						<a href="maps/s2">Season 2</a>
					</li>
					<li>
						<a href="maps/s3">Season 3</a>
					</li>
					<li>
						<a href="maps/s4">Season 4</a>
					</li>
				</ul>
			</div>

			<script>
				var acc = document.getElementsByClassName("accordion");
				var i;

				for (i = 0; i < acc.length; i++) {
					acc[i].addEventListener("click", function () {
						this.classList.toggle("active");
						var panel = this.nextElementSibling;
						if (panel.style.display === "block") {
							panel.style.display = "none";
						} else {
							panel.style.display = "block";
						}
					});
				}
			</script>
		</div>
		<div class="latest">
			<iframe
				class="latestVideoEmbed"
				vnum="0"
				cid="UCotVsD7JWzhYKSp3AsVsr5g"
				width="300"
				height="170"
				frameborder="0"
				allowfullscreen
			></iframe>
			<iframe
				class="latestVideoEmbed"
				vnum="0"
				cid="UCIcPWYzlps3gkqD_DR-2EBA"
				width="300"
				height="170"
				frameborder="0"
				allowfullscreen
			></iframe>
			<iframe
				class="latestVideoEmbed"
				vnum="0"
				cid="UCXiffn32YjnTmCQaX6olB-Q"
				width="300"
				height="170"
				frameborder="0"
				allowfullscreen
			></iframe>
			<iframe
				class="latestVideoEmbed"
				vnum="0"
				cid="UC3fN5x66j1_IkmOV4J7D_4Q"
				width="300"
				height="170"
				frameborder="0"
				allowfullscreen
			></iframe>

			<script src="/javascripts/ytembed.js"></script>
		</div>
	</body>
</html>
